<!DOCTYPE html>
<html>

<head>
  
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'v2/CSS/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'v2/CSS/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'v2/CSS/theme.css' %}" type="text/css"> </head>

<body>
  
  <div class="py-5 text-center" style="background-image: url(&quot;{% static 'v2/images/cover.jpg' %}&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 mb-4 lead">FoodVilla</h1>
          <p class="lead mb-5">The best Online Food retail Shop</p>
          <a href="/login/" class="btn btn-lg mx-1 btn-primary">Login</a>
          <a href="/register/" class="btn btn-lg btn-success mx-1">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">FoodVilla</h2>
          <p class="text-white">A Online food Shop Which delivers best quality food in your home</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Mapsite</h2>
          <ul class="list-unstyled">
            <a href="/" class="text-white">Home</a>
            <br>
            <a href="about/" class="text-white">About us</a>
            <br>
            <br>
            <a href="contactus/" class="text-white">Contact Us</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Contact</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:nusherjk@gmail.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>foodvilla@gmail.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
          </p>
        </div>
        
      </div>
    </div>
  </div>
  <script src="{% static 'v2/js/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{% static 'v2/js/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{% static 'v2/js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>

</body>

</html>