
{% extends 'v2/includes/header.html' %}
{% load static %} }


{% block content %}
  <div class="py-5 bg-gradient" style="background-image: url(&quot;{% static 'v2/images/Chicken-Burger.jpg' %}&quot;);background-position:left center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class=""> Select a Catagory</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Burgers</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">Pizzas</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree">Cakes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-target="#tabfour" data-toggle="pill">Beverages</a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <p class="">Different catagorys of this food type</p>

              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Description</th>
                      <th>Price</th>
                    <th >Add To Cart</th>
                  </tr>
                </thead>
                <tbody>
                      {% for burger in burgers %}
                          <tr>
                          <td>{{ burger.title }}</td>
                          <td>{{ burger.description }}</td>
                          <td>{{ burger.price }}</td>
                              <td><a href="/add_to_cart/{{ burger.id }}">add to cart</a></td>



                          </tr>
                      {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">Different catagorys of this food type</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Description</th>
                      <th>Price</th>
                    <th>Add To Cart</th>
                  </tr>
                </thead>
                <tbody>

                  {% for burger in pizzas %}
                          <tr>
                          <td>{{ burger.title }}</td>
                          <td>{{ burger.description }}</td>
                          <td>{{ burger.price }}</td>
{#                          <td><button >Add to cart</button></td>#}
                              <td><a href="/add_to_cart/{{ burger.id }}">add to cart</a></td>
                          <td></td>

                          </tr>

                      {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">Different catagorys of this food type</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Description</th>
                      <th>Price</th>
                    <th>Add To Cart</th>
                  </tr>
                </thead>
                <tbody>
                  {% for burger in cakes %}
                          <tr>
                          <td>{{ burger.title }}</td>
                          <td>{{ burger.description }}</td>
                          <td>{{ burger.price }}</td>
                          <td><a href="/add_to_cart/{{ burger.id }}">add to cart</a></td>
                          </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="tabfour" role="tabpanel">
              <p class="">Different catagorys of this food type</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Description</th>
                      <th>Price</th>
                    <th>Add To Cart</th>
                  </tr>
                </thead>
                <tbody>

                  {% for burger in beverages %}
                          <tr>
                          <td>{{ burger.title }}</td>
                          <td>{{ burger.description }}</td>
                          <td>{{ burger.price }}</td>
                          <td><button>Add to cart</button></td>
                          </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <h1> {{ item }}</h1>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}